name: terraform-ecs-destroy

on:
  workflow_call:
    inputs:
      aws-region:
        required: true
        type: string
      tf-working-dir:
        required: true
        type: string
      apply-role-arn:
        required: true
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    name: Terraform Destroy
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ${{ inputs.aws-region }}
      TF_WORKING_DIR: ${{ inputs.tf-working-dir }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (APPLY role)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.apply-role-arn }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init


